* {
  margin: 0;
}

.css-8atqhb {
  width: 80% !important;
}

.css-8je8zh-MuiTouchRipple-root {
  color: black !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: black !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #3AA33E !important;
  height: 5px !important;
}

.css-19kzrtu p {
  width: 100% !important;
}